 <!-- About Section -->
    <section class="success" id="about">
        <div class=".container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row"> <!-- skills -->
                 <div class="col-lg-2 col-lg-offset-4">
                    <p> - Kotlin <br/> - Java <br/> - Swift 3 <br/> - Python <br/> - Scrum master <br/> - Brainstormer</p>
                </div>
                <div class="col-lg-2">
                    <p> - Kotlin <br/> - Java <br/> - Swift 3 <br/> - Python <br/> - Scrum master <br/> - Brainstormer</p>
                </div>
            </div>
            <div class="row"> <!-- about me -->
                <div class="col-lg-4 col-lg-offset-4">
                      I'm software developer with 5 years of developing and shipping mobile apps. <br/>
                      I usually try to be a full-stack mob dev to handle different parts of mobile development such as:
                      <ul>
                       <li>Design. I usualy use Sketch for this.</li>
                       <li>Build architecture. Drawing diagrams, make a decision on which API to use(service or simple thread or existing library etc.). </li>
                       <li>Build and maintain reusable and reliable code. Clean code and effective Java.</li>
                       <li>Writing and designing tests. Including alpha and beta testing. Plus A/B tests.</li>
                       <li>Shipping. This includes a monitoring of analytics and traffic. Generating certificates and build types.</li>
                      </ul>
                      <br/>  
                 <b> Android specific knowledges: </b>
                  <ul>
                   <li> Google Material Design Guidelines. </li>
                   <li> Android Frameworks. </li>
                   <li> Compability Support Libraries(appcompat,support libraries). </li>
                   <li> Activities, fragments, services, content-providers. Including their interactions.</li>
                 </ul>
                 
                  <b> Advanced Android: </b>
                  <ul>
                   <li> Reactive programming(rxJava/rxAndroid/Java8). </li>
                   <li> Networking(retrofit,okhttp) </li>
                   <li> Images: Picasso/Glide. </li>
                   <li> Event Bus: EventBus/Otto.</li>
                   <li> Analytics: Crashlytics/Firebase.</li>
                 </ul>
                    
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact me
                    </a>
                </div>
            </div>
        </div>
    </section>
