 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                   <p>Software developer. Love to implemenet different features and can debug the code for hours. I understand how important is to be time-efficient, clean-coder and good mathematic.</p>
                </div>
                <div class="col-lg-4">
                    <p> - Kotlin <br/> - Java <br/> - Swift 3 <br/> - Python <br/> - Scrum master <br/> - Brainstormer</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact me
                    </a>
                </div>
            </div>
        </div>
    </section>
